*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

.header{
  position: relative;
  width: 100%;
  height: 965px;
  background-image: url(images/bgimage.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#bg{
  background-size: cover;
  background-repeat: no-repeat;
}

#list1 li{
  list-style-type: none;
  display: inline;
}

#list1 a{
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  position: relative;
  display: block;
  top: 60px;
  right: 73px;
  float: right;
  padding: 17px;
  display: block;
  font-size: 15px;
  font-weight: 00;
}
